# .dockerignore

# Git files
.git
.gitignore

# Maven build output
target/

# IDE files
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/

# Log files
*.log

# Local env file (IMPORTANT!)
.env

# OS specific files
.DS_Store
Thumbs.db

# Build reports/artifacts not needed in image
**/failsafe-reports/
**/surefire-reports/

src/main/frontend/generated
src/main/frontendvaaa/index.html
